body {
  font-size: 16px;
  color: black;
  background-color: white;

}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px;
  border-color: black;
  padding-bottom: 25px;
}

.navbar-brand {
  padding-top: 25px;
 
}

.navbar-brand h1 { /* name */
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: .75;
}

#nav-list {
  background-color: white;
  text-align: center;
  border: 1px;
}

.navbar-toggle { /* Collapsed nav menu glyph */
  font-size: 1em;
   margin-top: -30px;
   margin-right: 5px;
}

/** body **/


.page-header {
  margin-top: 100px;
  font-size: 1.5em;
  text-align: center;

}

.heading3 {
  text-align: center;
  margin-top: 20px;
}

.col-xs-12 {
  box-sizing: border-box;
  height: 1000px;
  max-width: 96%;
  margin-left: 2%;
  background-color: gray;
}

.jumbotron {
  height: 1000px;
  background-color: gray;

}

/*@media (min-width: 768px) {
.heading2 {
  margin-top: 0px;
}
*/